<h1><%= @song.title %></h1>
<h3><%= @song.artist %></h3>

<p><%= @song.genre %></p>
<h1> Current Rank </h1>
<h1><%= @song.rank %></li>

<%= link_to 'Top 100', root_path %>
<%= link_to 'Edit Song', edit_song_path(@song) %>
<%= link_to 'Delete Song', song_path(@song), method: :delete%>
